.c-item {
    height: 500px;
}

.c-img {
    height:100%;
    width:100%;
    object-fit: cover;
    filter: brightness(0.9);
}

#white-button {
    color: white;
}

.overview {
    background-color: hsl(0, 0%, 90%);
    height: 250px;
}

#primary-color{
    color:hsl(187, 39%, 70%);
}

#primary-color:hover{
    color:hsl(187, 39%, 50%);
}

.c-card-img{
    height:300px;
    object-fit: cover;
}